<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %X{correlationId} %X{customerId} %X{APIPlatform} %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Spring Profile for Logstash -->
    <springProfile name="logstash">
        <logger name="ROOT" level="INFO">
        </logger>

        <logger name="com.letshego" level="DEBUG">
        </logger>

        <logger name="org.zalando.logbook" level="TRACE">
        </logger>
    </springProfile>

</configuration>